.flex { display: flex; }
.flexc { display: flex; justify-content: center; align-items: center; }
.flexr { display: flex; flex-direction: row; }
.flexcol { display: flex; flex-direction: column; }
.flexsb { display: flex; justify-content: space-between; }
.flexsa { display: flex; justify-content: space-around; }
.flexse { display: flex; justify-content: space-evenly; }
.alignc { align-items: center; }
.aligns { align-items: flex-start; }
.aligne { align-items: flex-end; }
.justc { justify-content: center; }
.justs { justify-content: flex-start; }
.juste { justify-content: flex-end; }

.inline { display: inline; }

/* Optional refinement for responsiveness */
@media (max-width: 768px) {
  .flexsa {
    justify-content: center !important;
  }

  .info-text {
    text-align: left;
  }
}
